<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Change password</h1>
        <div class="input-form">
            <form method="POST" action="/change-password">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter your email">
                <label for="password">New password:</label>
                <input type="password" name="new-password-1" placeholder="Enter your new password">
                <label for="password">Confirm new password:</label>
                <input type="password" name="new-password-2" placeholder="Enter your new password again">
                <div class="message">
                    {% with messages = get_flashed_messages() %}
                        {% if messages and 'successful' in messages[0] %}
                            <p style="color: green">{{ messages[0] }}</p>
                        {% else  %}
                            <p style="color: red">{{ messages[0] }}</p>
                        {% endif %}
                    {% endwith %}
                </div>
                <input type="submit" value="Change password">
            </form>
        </div>
    </div>
    </body>
</html>